extends layout

block content
  article
    h1
      | Votre commande est confirmée
      span#name
      | !
    p
      | Votre numéro de confirmation est le
      strong#confirmation-number
      | .

append scripts
  script(type='text/javascript', src='./assets/scripts/shopping-cart.service.js')
  script(type='text/javascript', src='./assets/scripts/orders.service.js')
  script(type='text/javascript', src='./assets/scripts/shopping-cart.controller.js')
  script(type='text/javascript', src='./assets/scripts/confirmation.controller.js')
