


/*contact style*/
body {
    padding:0px 5px;
}
.container{
    display: flex;
    flex-direction: row;
    border: 1px solid #999999;
    border-radius: 4px;
    margin: auto;
    height:400px;
}
.container > div {
    flex: 1;
    margin: 0 auto;
    text-align: center;
    position:relative;
}

.container > div > div {
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    position: absolute;
}