/*GENERAL STYLE*/

body {
    padding:0px 25px;
}

* {
  font-family: Arial;
}

p {
  text-align: justify;
}

/* Procuct.html */

.product {
  display: flex;
  flex-direction: row;
}

input {
  width: 30px;
}

.form-control {
  border: 1px;
  border-color: #999999;
  border-radius: 4px;
  float: right;
}

.fieldset-no-border {
  border: 0;
}

/*contact style*/

.container{
    display: flex;
    flex-direction: row;
    border: 1px solid #999999;
    border-radius: 4px;
    margin: auto;
    height:400px;
}
.container > div {
    flex: 1;
    margin: 0 auto;
    text-align: center;
    position:relative;
}

.container > div > div {
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    position: absolute;
    font-size: xx-large;
}
