doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title OnlineShop - #{title}
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/css/style.css')
  body
    header
      .header-container
        .logo
          a(href='/accueil')
            img(alt='logo', src='/assets/img/logo.svg', title='Accueil')
        nav
          ul
            if ((title === 'Produit') || (title === 'Produits'))
              - var current = 'Produits'
            else
              - var current = title
            li(class=(current === 'Accueil') ? 'active' : '')
              a(href='/accueil') Accueil
            li(class=(current === 'Produits') ? 'active' : '')
              a(href='/produits') Produits
            li(class=(current === 'Contact') ? 'active' : '')
              a(href='/contact') Contact
            li
              a.shopping-cart(href='/panier', title='Panier')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x.fa-inverse
                  i.fa.fa-shopping-cart.fa-stack-1x
                span.count 3
    main
      block content
    footer
      p Ba Samson Lam (1671028) & Clément Sorneau (1909113)
    block scripts
      script(type='text/javascript', src='./assets/js/jquery-3.2.1.min.js')
      script(type='text/javascript', src='./assets/scripts/utils.js')
