extends layout

block content
  article
    h1
      | Votre commande est confirmée
      |
      span#name= order.firstName + " " + order.lastName
      | !
    p
      | Votre numéro de confirmation est le
      |
      strong#confirmation-number= pad(order.id, 5)
      |.
